.venv/
venv/
node_modules/
dist/
.ruff_cache/
__pycache__/
*.py[cod]
*.egg-info/
*.db
.env
.env.*
!.env.example
!backend/.env.example
!frontend/argos-web/.env.example
.pytest_cache/
celerybeat-schedule
backend/storage/*
!backend/storage/.gitkeep
exports/*
!exports/.gitkeep
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
*.tsbuildinfo

